@font-face {
  font-family: "Magic Symbols";
  src: url("/Magic Symbols.ttf");
}

#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--banner);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner h1,
.banner h2,
.banner p {
  text-align: center;
}

.banner p {
  font-size: x-small;
  flex-grow: 1;
}

.banner h1 {
  margin: 0 1rem;
}

.banner button {
  margin: 0 1rem;
}

/* Big Card Styles */
.card {
  width: 320px;
  height: 450px;
  background-image: url("/lsh_border_clean.png");
  background-size: cover;
  margin: 0 auto;
  background-color: var(--text);
  color: var(--background);
  border-radius: 0.8rem;
  position: relative;
}
.card-cost {
  position: absolute;
  top: 115px;
  left: 270px;
  font-family: "Magic Symbols", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}
.mana-symbol {
  border-radius: 100%;
  background-color: #e5ddc8;
  width: 20px;
  height: 20px;
  margin: 2px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mana-symbol p {
  margin: 0;
  font-size: large;
}
.card-header {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0% 10px;
  width: calc(100% - 20px);
  font-size: 0.9rem;
}
.type-line {
  position: absolute;
  top: 245px;
  left: 0px;
  padding: 0% 20px;
  width: calc(100% - 40px);
}
.rules-text {
  position: absolute;
  font-size: x-small;
  left: 0px;
  top: 280px;
  padding: 0% 40px;
  text-align: left;
}
.card p {
  margin: 2px 0;
}
