@font-face {
  font-family: "Magic Symbols";
  src: url("/Magic Symbols.ttf");
}

#root {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  text-align: center;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.banner {
  width: 100%;
  padding: 1rem 0;
  background-color: var(--banner);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.banner h1,
.banner h2,
.banner p {
  text-align: center;
}

.banner p {
  font-size: x-small;
  flex-grow: 1;
}

.banner h1 {
  margin: 0 1rem;
}

.banner button {
  margin: 0 1rem;
}

/* Drawer */
.drawer {
  position: fixed;
  top: 0px;
  width: calc(100% - 50px);
  height: 100%;
  border-radius: 8px 0px 0px 8px;
  background-color: var(--background);
  border-left: 1px solid var(--text);
  overflow: scroll;
}
.open {
  left: 50px;
  transition: 0.4s;
}
.closed {
  left: 100%;
  transition: 0.4s;
}
.drawer h2 {
  margin: 2px 0;
}
.drawer h3 {
  padding: 4px;
  margin: 8px;
  background-color: var(--header-bg);
  border-radius: 8px;
}
.drawer h4 {
  text-align: left;
  padding: 0 16px;
  margin: 0;
}
.drawer p {
  text-align: justify;
  margin: 8px 16px;
  font-size: small;
}

.setting-block {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}
.setting-select {
  padding: 8px;
  min-width: 150px;
}

@media (min-width: 450px) {
  .setting-block {
    background-color: var(--header-bg);
    border-radius: 8px;
    margin: 16px 0;
  }
  .setting-block h2 {
    margin: 0;
  }
}

/* Big Card Styles */
.card {
  width: 320px;
  height: 450px;
  background-image: url("/lsh_border_clean.png");
  background-size: cover;
  margin: 0 auto;
  background-color: var(--text);
  color: var(--background);
  border-radius: 0.8rem;
  position: relative;
}
.card-cost {
  display: flex;
  flex-direction: column;
  gap: 2px;
  position: absolute;
  top: 115px;
  left: 270px;
  font-family: "Magic Symbols", "Gill Sans", "Gill Sans MT", Calibri,
    "Trebuchet MS", sans-serif;
}
.horizontal {
  flex-direction: row;
  position: relative;
}
.mana-symbol {
  border-radius: 100%;
  background-color: #e5ddc8;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mana-symbol p {
  margin: 0;
  font-size: large;
}
.card-header {
  position: absolute;
  top: 10px;
  left: 0px;
  padding: 0% 10px;
  width: calc(100% - 20px);
  font-size: 0.9rem;
}
.type-line {
  position: absolute;
  top: 250px;
  left: 0px;
  padding: 0% 20px;
  width: calc(100% - 40px);
  font-size: small;
}
.rules-text {
  position: absolute;
  font-size: x-small;
  left: 0px;
  top: 280px;
  padding: 0% 40px;
  text-align: left;
}
.card p {
  margin: 2px 0;
}

.single-card-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-top: 8px;
}

.mobile-content {
  width: 320px;
}

/* List styles */
.list-card {
  border: 2px solid var(--text);
  border-radius: 8px;
  overflow: hidden;
  text-align: left;
  margin-bottom: 8px;
}
.list-card:hover {
  border: 2px solid var(--highlight);
}
.title-line {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text);
  color: var(--background);
  padding: 8px;
}
.title-line h2 {
  margin: 0;
  font-size: medium;
}
.list-card i {
  margin-left: 16px;
  font-size: small;
}
.title-line .card-cost {
  color: var(--background);
  top: auto;
  left: auto;
}

/* Card Popout */
.card-popout {
  position: fixed;
  width: 340px;
  padding: 8px 0;
  top: calc((100% - 470px) / 2);
  left: calc((100% - 340px) / 2);
  background-color: var(--background);
  border: 2px solid var(--banner);
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.card-popout button {
  background-color: var(--background);
  margin: -13px -16px;
  padding: 4px 8px;
}

.fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--background);
  opacity: 0.4;
}

/* desktop list styles */
.two-up-layout {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
}

.two-up-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 750px;
  margin: 8px 16px;
}
.full-card-table {
  width: 100%;
}
.full-card-table tr:nth-child(even) {
  background-color: color-mix(in srgb, var(--highlight) 10%, transparent);
}
.full-card-table tr:hover {
  background-color: var(--banner);
}
.full-card-table .table-header,
.full-card-table .table-header:hover {
  background-color: var(--header-bg);
  padding: 4px;
  border-radius: 8px;
}

.full-card-table th {
  font-family: "Eczar", "Courier New", Courier, monospace;
}
.full-card-table th:nth-child(1) {
  border-radius: 8px 0px 0px 8px;
}
.full-card-table th:nth-child(3) {
  border-radius: 0px 8px 8px 0px;
}

.full-card-table td {
  padding: 4px 8px;
  text-align: left;
  cursor: pointer;
}
